 <!DOCTYPE html>
 <html>
   <head>
     <title>Prince web</title>
     <style>
       #container{
         max-width: 720px;
         margin: 0 auto;
       }
       h1, h2{
     font-size: 40px;
     font-family: Roboto;
     font-weight: normal;
     color: rgb(100,100,100);
     text-align: center;
     }
       #banner{
         width: 100%;
         height:360px;
         object-fit: cover;
       }
       .text{
         font-family: Roboto;
         color: rgb(80,80,80)
       }
     </style>
   </head>
   <body>
     <div id="container">
     <h1>
       Prince career
     </h1>
    <img id="banner" src="https://apppython-2.jean-paulpaul13.repl.co/static/img.jpg" alt="">
     <h2>About Prince</h2>
     <p class="text">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quia consequuntur autem eligendi. Molestias quas cumque dolore. Laborum, ea. Esse atque veniam, distinctio earum explicabo quis magni repudiandae nihil veritatis.
    Recusandae eius laudantium est sunt, totam voluptate harum cum accusamus iure dolorum nam cupiditate fugit corrupti unde, labore ipsum! Aperiam nesciunt 
     </p>
     <h2>Open positions</h2>
     <p class="text">TODO - show the jobs here</p>
       <div style="text-align: center;">
     <button>Contact Us</button>
         <p>Copyright 2023, Pkalala</p>
       </div>
     </div>
   </body>
 </html>