 <!DOCTYPE html>
 <html>
   <head>
      <meta charset="utf-8">
     <meta name="viewport" content="width=device-width, initial-    scale=1">
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
     <title>Prince web</title>
     <style>
       #banner{
         width: 100%;
         height:360px;
         padding-bottom:15px;
       }
       #text{
         color: rgb(120,120,120);
         margin-bottom: 4px;
         
       }
       .dv{
         margin-bottom: 16px;
         padding-bottom: 8px;
       }
       #aside{
        height: 320px; 
         border-radius:4px;
       }
     </style>
   </head>
   <body>
     {% include 'navbar.html' %}
     <img class="img-fluid" id="banner" src="https://apppython-2.jean-paulpaul13.repl.co/static/img.jpg" alt="">
     <div class="container">
     <h1 class="text-center mt-2 mb-4">
       Prince careers
     </h1>
     <div class="row" style="margin-bottom:16px;">
       <div class="col-md-6">
     <p  class="lead">
       Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores quia consequuntur autem eligendi. Molestias quas cumque dolore. Laborum, ea. Esse atque veniam, distinctio earum explicabo quis magni repudiandae nihil veritatis.
    Recusandae eius laudantium est sunt, totam voluptate harum cum accusamus iure dolorum nam cupiditate fugit corrupti unde, labore ipsum! Aperiam nesciunt 
     </p>
      </div>
       <div class="d-none d-md-block col-6">
         <img src="/static/work.jpg" alt="" id="aside">
       </div>
    </div>
      <h2 class="text-center mt-2 mb-4">Open positions</h2>
     <div>
       {% for job in jobs %}
          {% include 'jobitm.html'%}
       {% endfor %}
     </div>
       <div class="text-center">
     <a href="/google.com" type="button"  class="btn btn-primary btn-lg">Contact Us</a>
       </div>
     </div>
     {% include 'footer.html'%}
   </body>
 </html>